<app-main-nav></app-main-nav>

<div class="container-fluid image_banner">
    <div class="row align-items-center main">
        <div class="col-4 text-center">
            <div class="brand_name">
                <h6>#ARETOSTORE</h6>
            </div>
            <div class="text my-5">
                <h2>Find Your <br> Style & <br>
                    Upgrade Your <br> Closet </h2>
            </div>
            <div class="button">
                <button>EXPLORE NOW</button>
            </div>
        </div>
        <div class="col-8 d-flex align-items-center px-0">
            <img src="../../../assets/images/Untitled-2.png" alt="image test" class="img-fluid">
        </div>
    </div>

    <div class="row align-items-center second">
        <div class="col-12 d-flex align-items-center px-0">
            <img src="../../../assets/images/Untitled-2.png" alt="image test" class="img-fluid">
            <div class="text-center text_group">
                <div class="brand_name">
                    <h6>#ARETOSTORE</h6>
                </div>
                <div class="text my-2">
                    <h2>Find Your <br> Style & <br>
                        Upgrade Your <br> Closet </h2>
                </div>
                <div class="button">
                    <button>EXPLORE NOW</button>
                </div>
            </div>
        </div>
    </div>
    
</div>


<div style="height: 200vh; width: 50vw;"></div>

